<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-card-header">
                        <!-- <span>所有会员列表</span> -->
                        <a href="/admin/blogs_article/edit/id/0.html" class="layui-btn layui-btn-xs">
                            <i class="layui-icon">&#xe654;</i>
                            <span>新增</span>
                        </a>
                        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
                            <i class="layui-icon">&#xe615;</i>
                        </a>
                    </div>
                    <div class="layui-card-body">
                        <table id="listTable" lay-filter="operate"></table>
                        <script type="text/html" id="barDemo_hash">
                            <!--<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="categoryIdTpl">
    {{d.category_id.text}}
</script>

<script type="text/html" id="search_tpl_hash">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入标题.." autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属栏目：</label>
            <div class="layui-input-block">
                <select name="category_id">
                    <option></option>
                    {foreach $categoryList as $category}
                    <option value="{$category.id}">{$category.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>语言标签：</label>
            <input type="hidden" name="tags" id="tags"/>
            <div class="layui-input-block">
                <select name="tags" xm-select="tags">
                    <option></option>
                    {foreach $languageTagList as $languageTag}
                    <option value="{$languageTag.id}">{$languageTag.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo_hash"><i class="layui-icon">&#xe615;</i> 搜索
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</script>

<script>
    layui.config({
        base: '__JS__'
    }).use(['jquery', 'table', 'sidebar', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            sidebar = layui.sidebar,
            form = layui.form;
        //第一个实例
        table.render({
            method: 'post',
            limit: 20,
            elem: '#listTable',
            height: 'full-235',
            url: 'selectList', //数据接口
            page: true, //开启分页
            cols: [
                [ //表头
                    {
                        field: 'id',
                        title: 'ID',
                        width: 80,
                        sort: true,
                        fixed: 'left'
                    },
                    {
                        field: 'title',
                        title: '标题',
                        width: 300
                    },
                    {
                        field: 'view_num',
                        title: '浏览数',
                        width: 80,
                        sort: true
                    },
                    {
                        field: 'category_id',
                        title: '所属栏目',
                        width: 200,
                        templet: '#categoryIdTpl'
                    },
                    {
                        field: 'tags',
                        title: '技术标签',
                        width: 200
                    },
                    {
                        field: 'source_name',
                        title: '来源',
                        width: 300
                    },
                    {
                        field: 'author',
                        title: '作者',
                        width: 200
                    },
                    {
                        field: 'create_time',
                        title: '创建时间',
                        width: 200,
                        sort: true
                    },
                    {
                        field: 'update_time',
                        title: '修改时间',
                        width: 200,
                        sort: true
                    },
                    {
                        fixed: 'right',
                        width: 180,
                        align: 'center',
                        toolbar: '#barDemo_hash'
                    }
                ]
            ]
        });
        //监听工具条
        table.on('tool(operate)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'detail') { //查看
                //do somehing
            } else if (layEvent === 'del') { //删除
                layer.confirm('确认删除？', function (index) {
                    location.href = "/admin/blogs_article/delete/id/" + data.id + ".html";
                });
            } else if (layEvent === 'edit') { //编辑
                //do something
                location.href = "/admin/blogs_article/edit/id/" + data.id + ".html";
            }
        });
        $('#search_hash').on('click', function () {
            var that = this;
            // console.log($('#search_tpl_hash').html());
            sidebar.render({
                elem: that,
                content: $('#search_tpl_hash').html(),
                title: '搜索',
                shade: true,
                width: '500px', //可以设置百分比和px
                done: function () {
                    console.log('ccc');
                    form.render();

                    //监听提交
                    form.on('submit(formDemo_hash)', function (data) {
                        table.reload('listTable', {
                            where: data.field
                        });
                        return false;
                    });
                }
            });
        });
    });
</script>

<style scoped>

</style>