
<!-- silds -->
<div class="layui-side" kit-side="true">
    <div class="layui-side-scroll">
        <div id="menu-box">
            <ul class="kit-menu">
                <li class="kit-menu-item">
                    <a href="/admin">
                        <i class="layui-icon"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/category/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>栏目管理</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/languageTag/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>语言标签</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/blogsArticle/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>博客管理</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/blogsComment/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>博客评论</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/slides/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>首页轮播图</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/notice/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>网站公告</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/todayRecommend/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>今日推荐</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/everydaySay/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>每日一句</span>
                    </a>
                </li>
                <li class="kit-menu-item">
                    <a href="/admin/blogroll/list">
                        <i class="layui-icon">&#xe62e;</i>
                        <span>友情链接</span>
                    </a>
                </li>

                <!--<li class="kit-menu-item">
                  <a href="javascript:;">
                    <i class="layui-icon"></i>
                    <span>Layui组件</span>
                  </a>
                  <ul class="kit-menu-child layui-anim layui-anim-upbit">
                    <li class="kit-menu-item">
                      <a href="#/layui/grid">
                        <i class="layui-icon"></i>
                        <span>Grid</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="javascript:;">
                        <i class="layui-icon"></i>
                        <span>基本元素</span>
                      </a>
                      <ul class="kit-menu-child layui-anim layui-anim-upbit">
                        <li class="kit-menu-item">
                          <a href="#/layui/button">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>按钮</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/form">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>表单</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/nav">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>导航/面包屑</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/tab">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>选项卡</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/progress">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>进度条</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/panel">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>面板</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/badge">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>徽章</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/timeline">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>时间线</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/table-element">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>静态表格</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/anim">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>动画</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/auxiliar">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>辅助元素</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="kit-menu-item layui-show">
                      <a href="javascript:;">
                        <i class="layui-icon"></i>
                        <span>组件</span>
                      </a>
                      <ul class="kit-menu-child layui-anim layui-anim-upbit">
                        <li class="kit-menu-item">
                          <a href="#/layui/layer">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>弹出层</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/laydate">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>日期与时间</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/table">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>数据表格</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/laypage">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>分页</span>
                          </a>
                        </li
                        <li class="kit-menu-item">
                          <a href="#/layui/upload">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>文件上传</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/carousel">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>轮训</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/laytpl">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>模板引擎</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/flow">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>流加载</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/util">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>工具集</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="#/layui/code">
                            <i class="layui-icon">&#xe62e;</i>
                            <span>代码修饰器</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="kit-menu-item">
                  <a href="javascript:;">
                    <i class="layui-icon"></i>
                    <span>组件</span>
                  </a>
                  <ul class="kit-menu-child layui-anim layui-anim-upbit">
                    <li class="kit-menu-item">
                      <a href="#/components/select">
                        <i class="layui-icon"></i>
                        <span>Select</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="kit-menu-item">
                  <a href="javascript:;">
                    <i class="layui-icon"></i>
                    <span>异常页</span>
                  </a>
                  <ul class="kit-menu-child layui-anim layui-anim-upbit">
                    <li class="kit-menu-item">
                      <a href="#/exception/403">
                        <i class="layui-icon">&#xe69c;</i>
                        <span>403</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/exception/404">
                        <i class="layui-icon">&#xe61c;</i>
                        <span>404</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/exception/500">
                        <i class="layui-icon">&#xe64d;</i>
                        <span>500</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="kit-menu-item">
                  <a href="javascript:;" class="child">
                    <i class="layui-icon"></i>
                    <span>多级菜单</span>
                  </a>
                  <ul class="kit-menu-child kit-menu-child layui-anim layui-anim-upbit">
                    <li class="kit-menu-item">
                      <a href="#/user/form">
                        <i class="layui-icon"></i>
                        <span>二级菜单1</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/user/as" class="child">
                        <i class="layui-icon"></i>
                        <span>二级菜单2</span>
                      </a>
                      <ul class="kit-menu-child kit-menu-child layui-anim layui-anim-upbit">
                        <li class="kit-menu-item">
                          <a href="https://www.baidu.com" target="_blank">
                            <i class="layui-icon"></i>
                            <span>三级菜单1</span>
                          </a>
                        </li>
                        <li class="kit-menu-item">
                          <a href="javascript:;" target="_blank">
                            <i class="layui-icon"></i>
                            <span>三级菜单2</span>
                          </a>
                          <ul class="kit-menu-child kit-menu-child layui-anim layui-anim-upbit">
                            <li class="kit-menu-item">
                              <a href="https://www.baidu.com" target="_blank">
                                <i class="layui-icon"></i>
                                <span>四级菜单1</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/user/aa">
                        <i class="layui-icon"></i>
                        <span>二级菜单3</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="kit-menu-item">
                  <a href="javascript:;" class="child">
                    <i class="layui-icon"></i>
                    <span>API文档</span>
                  </a>
                  <ul class="kit-menu-child layui-anim layui-anim-upbit">
                    <li class="kit-menu-item">
                      <a href="#/docs/mockjs">
                        <i class="layui-icon"></i>
                        <span>拦截器(Mockjs)</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/docs/menu">
                        <i class="layui-icon"></i>
                        <span>左侧菜单(Menu)</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/docs/route">
                        <i class="layui-icon"></i>
                        <span>路由配置(Route)</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/docs/tabs">
                        <i class="layui-icon"></i>
                        <span>选项卡(Tabs)</span>
                      </a>
                    </li>
                    <li class="kit-menu-item">
                      <a href="#/docs/utils">
                        <i class="layui-icon"></i>
                        <span>工具包(Utils)</span>
                      </a>
                    </li>
                    <li class="kit-menu-item layui-show">
                      <a href="javascript:;" class="child">
                        <i class="layui-icon"></i>
                        <span>组件(Component)</span>
                      </a>
                      <ul class="kit-menu-child kit-menu-child layui-anim layui-anim-upbit">
                        <li class="kit-menu-item">
                          <a href="#/docs/component/nav">
                            <i class="layui-icon"></i>
                            <span>导航栏(Nav)</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>-->
            </ul>
        </div>
    </div>
</div>