<div class="layui-card">
    <div class="layui-card-header">{if ($id==0)}新增一句{else /}修改一句{/if}</div>
    <div class="layui-card-body">
        <form class="layui-form" action="/admin/everyday_say/saveOrUpdate" method="post">
            <input type="hidden" name="id" value="{$everydaySay.id}"/>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容：</label>
                <div class="layui-input-block">
                    <textarea name="content" placeholder="请输入内容" required lay-verify="required" class="layui-textarea">{$everydaySay.content}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">推荐时间：</label>
                <div class="layui-input-block">
                    <input type="text" name="recommend_time" id="recommend_time" required lay-verify="required" placeholder="请输入推荐时间"
                           autocomplete="off" class="layui-input" value="{$everydaySay.recommend_time}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form',"laydate"], function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#recommend_time' //指定元素
        });
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>